body.body {
  font-family: "Inter", sans-serif;
}

.homecontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

@media screen and (max-width: 1200px) {
  .homecontainer>div {
    padding: 250px 80px 0 80px;
  }

  .homeimage>img {
    width: 70vw !important;
  }

  .hometext {
    max-width: none !important;
    font-size: 200% !important;
    padding-bottom: 100px !important;
  }

  .homeheader {
    font-size: 200% !important;
  }
}

.hometext {
  max-width: 500px;
}

.homeheader {
  font-weight: 700;
}

.homedesc {
  font-weight: 450;
}

.homeimage {
  margin-right: 80px;
}

.homeimage>img {
  max-width: 500px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}